# Gradient Descent For Neural Network

In [14]:
#import paskages
import numpy as np
import pandas as pd

import tensorflow as tf
from tensorflow import keras

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
#Load Data
df= pd.read_csv("data/insurance_data_GDN.csv")

df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [21]:
#print shape data
df.shape

(28, 3)

### Split data into Tain and test

In [19]:
X_train  ,X_test , y_train , y_test = train_test_split(df[['age','affordibility']],df.bought_insurance , test_size=0.2   , random_state=2)

In [22]:
#length split data 
len(X_train)

22

In [23]:
#Scaled data
X_train_scaled = X_train.copy()
X_train_scaled['age'] = X_train_scaled['age']/100

X_test_scaled = X_test.copy()
X_test_scaled= X_test_scaled['age']/100

In [25]:
X_train_scaled.head()

     age  affordibility
16  0.25              0
6   0.55              0
3   0.52              0
21  0.26              0
26  0.23              1

In [27]:
X_train.head()

    age  affordibility
16   25              0
6    55              0
3    52              0
21   26              0
26   23              1

In [ ]:
# Simple Neural Network for predicted  bought insurance
model = keras.Sequential([
    keras.layers.Dense(1, input_shape=(2,) , activation = 'sigmoid' , kernel_initializer="onew")
])

In [4]:
epsilon = 1e-15

def logg_loss(y_true , y_predicted):
    y_predicted_new =[max(i, epsilon) for  i in y_predicted]
    
    y_predicted_new= [min(i,1-epsilon) for i in y_predicted_new]
    
    y_predicted_new = np.array(y_predicted_new)
    
    return -np.mean( y_true*np.log(y_predicted_new) + (1-y_true)*(1-y_predicted_new)  )