In [34]:
#import
import pandas as pd
import random
import numpy as np

from sklearn.preprocessing import MinMaxScaler

In [13]:

# Create a DataFrame from a dictionary
data = {'Gender': ['Male', 'Female', 'Male', 'Female'],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
        'Education': ['High School', 'College', 'College', 'Graduate']}
df = pd.DataFrame(data)

In [14]:
df = pd.get_dummies(data=df , columns=['Gender'])
df

          City    Education  Gender_Female  Gender_Male
0     New York  High School              0            1
1  Los Angeles      College              1            0
2      Chicago      College              0            1
3      Houston     Graduate              1            0

In [15]:
#############################

In [36]:
M="M"
F='F'

In [40]:
data ={
    "age": [0,10,15,20,25,30,50,55,60,100],
    'gender':[M,M,M,F,M,F,F,M,F,F]
}

df = pd.DataFrame(data)

In [41]:
minmax=MinMaxScaler()

In [42]:
col=['age']
df[col]=minmax.fit_transform(df[col])

In [43]:
df

    age gender
0  0.00      M
1  0.10      M
2  0.15      M
3  0.20      F
4  0.25      M
5  0.30      F
6  0.50      F
7  0.55      M
8  0.60      F
9  1.00      F